.library-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-top: 1rem;

  .tape-card {
    margin: 0.5rem;
  }
}


.tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  li {
    margin: 0.5rem;
  }
}

.video-page {
  margin: 3rem;
  display: flex;
  justify-content: space-evenly;

  .video-details {
    margin-top: 0rem;
  }

  // small screens display flex column
  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 0.25rem;

    .video-container {
      max-width: 100%;

      audio {
        max-width: 100%;
      }
    }

    .video-details {
      margin: 1rem;
      padding: 0;

      h1,
      .tag-list {
        padding: 1rem;
      }
    }
  }

  .access {
    font-size: 0.8rem;
  }

  .moment {
    margin-bottom: 0.5rem;

    .time-stamp {
      color: darkcyan;
      cursor: pointer;
      text-decoration: underline;
    }

  }
}

.add-tag-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  *{
    margin: 0.5rem;
  }
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.add-tag-form {
  display: flex;
  /* on a small screen, display flex column */  
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}



.tape-image{
  min-height: 20rem;
  margin-top: 0rem;
}

.loader,
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(65, 64, 64);
  padding: 1rem;
  margin-top: 1rem;
}

.search-page{
  min-height: 90vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.slide-in{
  animation: slideIn 2s;
 }

@keyframes slideIn {
  0% { 
    transform: translateX(-100%); 
    opacity: 0;
    z-index: -1;
  }
  100% { 
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
   }
}


.fade-in{
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}